#head{
    margin:8px;
    height:150px;
    border:2px solid black;
    font-size:80px;
    text-align: center;
    background-color: rgb(136, 220, 248);
}

.a{
    border:1px solid black;
    margin:8px;

}

.nav-item{
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#image1{
    margin:8px;
    height:4s00px;
}

#starting-text{
    font-size:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 136);
}

#chatbot{
    margin:8px;
    margin-top:15px;
}

#submit{
    border:1px solid black;
    margin-left:8px;
    cursor: pointer;
    border-radius: 5px;
}

#note{
    font-size:20px;
    margin:8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.a{
    list-style-type:none;
    border:1px solid black;
    margin:5px;
    
}

.question{
    background-color:rgb(163, 149, 243);
    font-size:25px;
}

.reply{
    background-color: rgb(118, 97, 238);
    font-size:25px;
}

.option{
    margin:5px;
    margin-left:5px;
}

#positivepic{
    height:400px;
    width:500px;
    margin:20px;
    border:1px solid black;
    padding: 0px;
}

#positivetext{
    margin:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#options{
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
